@import url('https://fonts.googleapis.com/css?family=Capriola&display=swap');

.App {
  text-align: center;
  font-family: 'Capriola', sans-serif;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #F79905;
}

header .img-container {
  width: 4rem;
  
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  
 
}

nav a {
  margin-right: 2rem;
  text-decoration: none;
  color: #44BF9C;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 3px;

}

a.active {
  font-style: bold;
}
